
.namepic
{

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-bottom: 10px;

}
.namepic img{
    border-radius: 50%;
    width: 200px;
}
.others
{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    padding: 0px 20px;
    /* margin-top: 10px; */
    /* margin-bottom: 0px; */
    width: 100%;

}
.others p{
    font-size: 11px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
}
.properties
{
    font-size: 13px;
    /* background-color: white; */
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    margin-left: 10px;
}
.main
{
    margin-top:10px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
   /* justify-content: center;
    align-items: center;  */

}
@media only screen and (max-width: 600px) {
    .namepic img{
        border-radius: 50%;
        width: 100px;
    }
    .others
    {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
        align-items: flex-start;
        padding: 0px 20px;
        /* margin-top: 10px;
        margin-bottom: 20px; */
        width: 100%;
        gap: 20px;
    
    }

}
